:root{
    --black-color: #000000;
    --darkgrey-color: rgb(27, 27, 27);
    --section-color: #e7e6e6a9;
    --grey-section-color: #747272;
    --purple-color: #bd86f0f1;
    --dark-purple-color: #a34af7f1;
    --light-purple-color: #bd86f07e;
    --yellow-color: #ffba25;
}
body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: var(--black-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
    font-size: 1.1rem;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: var(--purple-color);
}
.navbar .navbar-brand img{
     height: 90px;
     width: 100px;
}
.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border: 1px solid white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    color: var(--purple-color);
    border-color: var(--purple-color);
}
.container .navbar-brand-name{
    color: white;
    font-size: 25px;
}

    /* ==== start landing ===== */

.landing{
    background-color: var(--darkgrey-color);
    height: calc(90vh - 106px);
}
.landing .text-center a{
    color: white;
    font-weight: 500;
    background-color: var(--purple-color);
    transition: .3s;
}
.landing .text-center a:hover{
    font-size: 17px;
    color: var(--purple-color);
    background-color: white;
    transform: scaleX(1.1);
    transition: .4s;
}

    /* ==== end landing ===== */

    /* ==== start features */


.features .main-title h1{
    color: var(--purple-color);
}
.features .icon-holder{
    height: 200px;
}
.features .icon-holder i{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon{
    color: var(--purple-color);
}
.features h2{
    color: var(--yellow-color);
}
.features .main-title img{
    height: 190px;
    width: 210px;
}
.features .inside-the-box{
    padding: 10px;
    border: 2px solid var(--purple-color);
    border-radius: 20px;
}
.features .main-title::after{
    content: ' ';
    width: 180px;
    height: 2px;
    background-color: var(--purple-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

    /* ==== end features ==== */

    /* ==== start gallery ==== */

.gallery{
    background-color: var(--grey-section-color);
}
.gallery .container h1{
    color: white;
}
.gallery ul .active{
    color: white;
    background-color: var(--purple-color);
}
.gallery ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50px;
    color: white;
}
.gallery ul li:not(.active):hover{
    color: var(--purple-color);
}
.gallery .box{
    color: white;
    padding: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.gallery .box::before{
    content: attr(data-gallery);
    background-color: var(--purple-color);
    position: absolute;
    width: 100%
}
.gallery .btn{
    color: white;
    font-weight: 500;
    background-color: var(--purple-color);
    transition: .3s;
}
.gallery .btn:hover{
    font-size: 17px;
    color: var(--purple-color);
    background-color: white;
    transform: scaleX(1.1);
    transition: .4s;
}
    /* ==== End Gallery ====  */
            /* \\ */
    /* ==== start stuff ====  */   

.stuff .main-title img{
    height: 190px;
    width: 210px;
}
.stuff .row img{
    width: 800px;
}
.stuff .btn{
    color: white;
    font-weight: 500;
    background-color: var(--purple-color);
    transition: .3s;
}
.stuff .btn:hover{
    font-size: 17px;
    color: var(--purple-color);
    border: 1px solid var(--purple-color);
    transform: scaleX(1.1);
    transition: .4s;
}
    /* ==== end stuff ====  */   

    /* ==== start team ====  */   

.team{
    background-color: var(--darkgrey-color);
}
.team h2{
    color: white;
}
.team h4{
    background-color: var(--purple-color);
}
.team .box{
    border-radius: 60px;
}

    /* ==== end team ====  */
    
    /* ==== start techs ====  */   
.techs{
    background-color: var(--section-color);
}
.techs img{
    height: 120px;
    width: 120px;
}

    /* ==== end techs ====  */   
    /* ==== start pricing ====  */   

.Pricing{
    background-color: var(--darkgrey-color);
}
.Pricing .row .box{
    text-align: left;
    border: 1px solid var(--purple-color);
    border-radius: 50px;
}
.Pricing .btn{
    background-color: var(--purple-color);
    color: white;
    width: 260px;
}
.Pricing .btn:hover{
    color: var(--purple-color);
    background-color: white;
    transition: 0.3s;
}

    /* ==== end pricing ====  */  
    /* ==== start footer ====  */   

.footer{
    background-color: var(--grey-section-color);
}
.footer img{
    height: 120px;
    width: 130px;
}
.footer .links a{
    text-decoration: none;
    color: var(--section-color);
    transition: 0.5s;
}
.footer .links a:hover{
    font-size: 18px;
    color: var(--dark-purple-color);
    transition: 0.5s;
}
.footer .btn{
    color: white;
    background-color: var(--purple-color);
}
.footer .btn:hover{
    color: var(--purple-color);
    background-color:white;
    font-weight: 600;
}
.footer ul li i{
    font-size: 25px;
    color: #bebebe;
}
.footer i:hover{
    color: white;
    background: none;
}