*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

body{
    background-color: #311E25;
    height: 100vh;
    overflow-x: hidden;
    font-family:'Montserrat', sans-serif;
    animation: fadeIn 1.2s ease forwards;
}

/* Here Navigation and header css */

header{
    padding: 50px;
    height: 100px;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 400px;
}

.logo a{
    text-decoration: none;
    color: #c48136;
    font-size: 35px;
    font-weight: 200;
}
.nav-links{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
}
.nav-links a{
    color: #c48136;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
.nav-links a:hover{
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: .5s;
}
.Lets-Talk{
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
    text-decoration: none;
    color:#c48136;
    font-size: 18px;
    transition: .3s;
}
.Lets-Talk:hover{
    color: #ffffff;
    background-color: #c48136;
    transition: .3s;
}

/* Here hero section customization */

.Hero{
    height: 800px;;
    border-bottom: 4px solid #c48136;
}
.Hero .container{
    position: absolute;
    padding: 280px 395px;
    display: flex;
    align-items: center;      /* توسيط عامودي */
    justify-content: left;
    font-size: 35px;
    border-top: #c48136;
    animation: fadeIn 3s ease forwards;
}
.Hero h2{
    line-height: 70px;
}
.Hero .hero1p{
    color: white;
    font-weight: 200;
}
.Hero .hero2p{
    color: #c48136;
    font-weight: 200;
}
.view-works{
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
    text-decoration: none;
    color:#c48136;
    font-size: 18px;
    transition: .3s;
}
.view-works:hover{
    color: white;
    background-color: #c48136;
    transition: .3s;
}

/*  Details section here  */

.Details {
  height: 800px;        
  display: flex;
  align-items: center;      
  justify-content: left;  
  border-bottom: 4px solid #c48136;
}
.details-div {
  padding: 140px 395px;         ;
  font-size: 16px;
  color: white;
}
.Details h1{
    width: 800px;
}
.Details p{
    color: rgba(255, 255, 255, 0.603);
    line-height: 50px;
}
.Details .cv-button{
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
    text-decoration: none;
    color:#c48136;
    font-size: 18px;
    transition: .3s;
}
.cv-button:hover{
    color: white;
    background-color: #c48136;
    transition: .3s;
}
.Services{
    color: rgb(255, 255, 255);
    height: 620px;
    border-bottom: 4px solid #c48136;
}
.services-cards{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding-top: 11%;
    line-height: 1%;
}
.services-cards .card1,.card2,.card3{
    padding-top: 6%;
    text-align: center;
    border: 1px solid #c48136;
    height: 280px;
    width: 350px;
}
.services-cards i{
  font-size: 50px;
}
.Services .title{
    position: absolute;
    padding: 140px 395px;
}
.services-cards p{
    padding: 30px;
    width: 350px;
}
.services-cards .p1{
    font-size: 24px;
    color: #c48136;
}
.services-cards .p2{
    color: rgba(255, 255, 255, 0.548);
}
.services-cards h2{
}

/*   works section here !! */

.My-works{
    
    color: rgb(255, 255, 255);
    height: 900px;
}
@media (max-width: 576px) {

  header {
    padding: 20px;
    height: auto;
  }

  .navbar {
    padding-top: 0px;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .Hero {
    padding: 0 20px;
    height: auto;
    text-align: center;
    justify-content: center;
  }

  .Hero h2 {
    font-size: 26px;
  }
}
@media (max-width: 992px) {

  header {
    padding: 30px;
  }

  .navbar {
    gap: 80px;
  }

  .Hero {
    padding: 0 100px;
    height: auto;
  }

  .Hero h2 {
    font-size: 30px;
  }
}
