*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #301b1b;
    height: 100vh;
    overflow-x: hidden;
    font-family:'Montserrat', sans-serif;
}

/* Here Navigation and header css */

header{
    padding: 40px;
    height: 100px;
}
.navbar{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 400px;
}

.logo a{
    text-decoration: none;
    color: #c48136;
    font-size: 35px;
    font-weight: 200;
}
.nav-links{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
}
.nav-links a{
    color: #c48136;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.Lets-Talk{
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
}
.Lets-Talk a{
    text-decoration: none;
    color: white;
}
.Lets-Talk a:hover{
    color: #c48136;
}

/* Here hero section customization */

.Hero{
    height: 900px;;
    display: flex;
    align-items: center;      /* توسيط عمودي */
    justify-content:space-between;
    font-size: 35px;
    padding: 0 500px;
    border-top: #c48136;
}
.Hero .hero1p{
    color: white;
    font-weight: 200;
}
.Hero .hero2p{
    color: #c48136;
    font-weight: 200;
}
.Hero .view-works{
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
}
.view-works a{
    text-decoration: none;
    color:#c48136;
}

.Details{
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 500px;
    
}
.Details .whoAmI{
    color: white;
}
.Details p{
    color: white;
}
.Details .cv-button{
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
}
.Details .cv-button a{
    text-decoration: none;
    color:#c48136;
}
.Services{
    
    color: rgb(0, 0, 0);
    height: 500px;
}
.My-works{
    
    color: rgb(0, 0, 0);
    height: 900px;
}