
/* ===== for Ipad 1024" screen ===== */
@media (max-width: 1024px){

    /* ==== Header Part Here ==== */
    .navbar{
        gap: 80px;
    }
    .logo{
        position: absolute;
        top: 0;
        left: 40px;
    }
    .logo a{
        text-decoration: none;
        color: #c48136;
        font-size: 28px;
        font-weight: 200;
    }
    .nav-links{
        position: absolute;
        right: 300px;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 40px;
    }
    .nav-links a{
        color: #c48136;
        text-decoration: none;
        font-size: 16px;
        transition: 0.5s;
    }
    .nav-links a:hover{
        color: rgb(255, 255, 255);
        font-size: 18px;
        transition: 0.5s;
    }
    .Lets-Talk{
        position: absolute;
        right: 60px;
        top: 0;
        padding-top: 10px;
        display: inline-block;
        text-align: center;
        width: 110px;
        height: 40px;
        border: 1px solid #c48136;
        background: transparent;
        text-decoration: none;
        color:#c48136;
        font-size: 16px;
        transition: .3s;
    }
    .Lets-Talk:hover{
        color: #ffffff;
        background-color: #c48136;
        transition: .3s;
    }

    
    /* ==== Hero Section Here ==== */
    .Hero{
        height: 400px;
    }
    .Hero .container{
        position: absolute;
        padding: 100px 150px;
        display: flex;
        align-items: center;      /* توسيط عامودي */
        justify-content: center;
        font-size: 30px;
        border-top: #c48136;
        line-height: 5px;
    }
    .Hero h2{
    line-height: 50px;
    }
    .Hero .hero1p{
        color: white;
        font-weight: 200;
    }
    .Hero .hero2p{
        color: #c48136;
        font-weight: 200;
    }
    .Hero a{
        display: inline-block;
        text-align: center;
        padding-top: 17px;
        width: 150px;
        height: 40px;
        border: 1px solid #c48136;
        background: transparent;
        text-decoration: none;
        color: #c48136;
        font-size: 20px;
        transition: .3s;
    }
    .Hero a:hover {
        color: white;
        background-color: #c48136;
    }
    
    /* ==== Details Section Here ==== */

    .Details {
        height: 400px;       
        display: flex;
        align-items: center;      
        justify-content: center;
        background: linear-gradient(90deg, #1f140b, #2e261f);  
    }
    .details-div {
        position: absolute;
        top: 400px;
        right: 45px;
        line-height: 30px;     
        font-size: 20px;
        color: white;
    }
    .Details h1{
        width: 500px;
        font-size: 25px;
        font-weight: 200;
    }
    .details-p{
        width: 10px;
        color: grey;
        line-height: 25px;
        width: 500px;
        word-wrap: break-word;
    }
    .Details .cv-button{
        display: inline-block;
        text-align: center;
        padding-top: 5px;
        width: 120px;
        height: 40px;
        border: 1px solid #c48136;
        background: transparent;
        text-decoration: none;
        color:#c48136;
        font-size: 16px;
        transition: .3s;
    }
    .cv-button:hover{
        color: white;
        background-color: #c48136;
        transition: .3s;
    }

    /* ==== services section Here ==== */

    .Services{
        color: rgb(255, 255, 255);
        height: 500px;
        background: linear-gradient(90deg, #251a11, #3d342c);
    }
    .Services .title{
        position: absolute;
        padding: 50px 50px;
        font-size: 25px;
        font-weight: bold;
    }
    .services-cards{
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
        padding-top: 13%;
        line-height: 1%;
    }
    .services-cards .card{
        display: flex;
        flex-direction: column;
        padding: 95px 15px;
        text-align: center;
        border: 1px solid #c48136;
        height: 280px;
        width: 310px;
    }
    .service-icon{
    padding: 0px 100px;
    font-size: 50px;
    }
    .services-cards p{
    position: absolute;
    padding: 90px 0px;
    width: 280px;
    }
    .services-cards .p1{
        font-size: 16px;
        color: #c48136;
    }
    .services-cards .p2{
        display: none;
    }

    /* ==== Gallery section here ==== */

    .gallery{
        color: #c48136;
        height: 600px;
        background: linear-gradient(90deg, #2c1d11, #584d42);
    }
    .gallery h1{
        position: absolute;
        padding: 40px 40px;
        font-weight: 600;   
        color: white;
        font-size: 30px;
    }
    .home-gallery-pic{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        justify-content: center;
        align-items: center;
        height: 500px;
        padding: 110px 450px;
    }
    .home-gallery-pic img{
        height: 290px;
        width: 310px;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.452);
        transition: 0.5s;
    }
    .home-gallery-pic img:hover{
        height: 300px;
        width: 320px;
        transition: 0.5s;
        opacity: 30%;
    }
    .home-gallery-pic a{
        color: #c48136;
        text-decoration: none;
        font-size: 20px;
        transition: color 1s;
        font-weight: bold;
    }
    .home-gallery-pic a:hover{
        text-decoration: underline;
        transition: 1s;
    }
        .gallery .more-works{
        position: absolute;
        left: 310px;
        display: inline-block;
        text-align: center;
        padding: 10px;
        width: 400px;
        height: 45px;
        border: 1px solid #c48136;
        background: transparent;
        text-decoration: none;
        color:#c48136;
        font-size: 18px;
        transition: .3s;
        font-weight: bold;
    }
    .more-works:hover{
        background-color: #c48136;
        color: white;
    }

    /* FOOTER SECTION HERE ...! */

    footer{
        height: 820px;
        color: white;
        background: linear-gradient(90deg, #1f140b, #2e261f);
    }
    footer h1{
        text-align: left;
        padding: 100px 100px;
        font-size: 30px;
    }
    footer a{
        color: #c48136;
        text-decoration: none;
    }
    footer a:hover{
        color: #c4823688;
    }
    footer .lastone{
        text-align: center;
        padding-top: 110px;
        color: rgba(255, 255, 255, 0.616);
    }

    /* ==== Gallery page Here ==== */

    .Last-Works{
        color: #c48136;
        height: 1000px;
        background: linear-gradient(90deg, #2c1d11, #584d42);
    }
    .Last-Works h1{
        position: absolute;
        padding: 80px 50px;
        font-weight: 600;   
        color: white;
        font-size: 30px;
    }
    .last-works-pic{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-content: center;
        align-items: center;
        height: 865px;
        padding: 180px 450px;
    }
    .last-works-pic img{
        height: 270px;
        width: 280px;
        border-radius: 2%;
        border: 1px solid rgba(255, 255, 255, 0.452);
        transition: 0.5s;
    }
    .last-works-pic img:hover{
        height: 280px;
        width: 290px;
        opacity: 30%;
    }
    .last-works-pic a{
        color: #c48136;
        text-decoration: none;
        font-size: 20px;
        transition: color 1s;
        font-weight: bold;
    }
    .last-works-pic a:hover{
        text-decoration: underline;
        transition: 1s;
    }


    /* ==== Services Page Here ==== */

    .Services{
        height: 500px;
        background: linear-gradient(90deg, #1f140b, #362f27);
    }
    .Services h2{
    color: white;
    position: absolute;
    padding: 40px 60px;
    font-size: 25px;
    }
    .services-grid{
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30PX;
    }
    .services-grid .service{
        width: 300px;
        height: 360px;
        padding: 20px;
        border: 1px solid #c48136;
        color: white;
        text-align: center;
        font-size: 12px;
    }
    .services-grid .service p{
        color: rgba(255, 255, 255, 0.774);
    }
    .services-grid .service .content1{
        width: 300px;
        position: absolute;
        padding: 40px;
        left: 31px;
        line-height: 40px;

    }
    .services-grid .service .content2{
        width: 300px;
        position: absolute;
        padding: 40px;
        left: 365px;
        line-height: 40px;
    }
    .services-grid .service .content3{
        width: 300px;
        position: absolute;
        padding: 40px;
        right: 33px;
        line-height: 40px;
    }
    .services-grid .service a{
        padding: 3px;
        text-decoration: none;
        color: #c48136;
        display: inline-block;
        border: 1px solid #c48136;
        transition: 0.5s;
        width: 180px;
        height: 50px;
        font-size: 14px;
        font-weight: bold;
    }
    .services-grid .service a:hover{
        color: white;
        background-color: #c48136;
        transition: 0.5s;
    }
    .services-grid .service-icon{
        font-size: 50px;
    }

    /* ==== About Page Here ==== */

    .aboutme{
        background: linear-gradient(90deg, #1f140b, #362f27);
        height: 500px;
    }
    .aboutme p{
        height: 400px;
        width: 1000px;
        padding: 50px 50px;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    /* ==== Contact Page Here ==== */

    .contact-container{
        height: 50vh;
    }
    .contact-left-title h2{
    font-weight: 600;
    font-size: 35px;
    padding: 0 10px;
    margin-bottom: 5px;
    color: #c48136;
    }
    .contact-left-title hr{
    border: none;
    width: 220px;
    height: 5px;
    background: linear-gradient(130deg,#3d352d,#c48136);
    border-radius: 10px;
    margin-bottom: 20px;
    }
    .contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    }
    .contact-inputs:focus{
    border: 2px solid #c48136;
    }
    .contact-inputs::placeholder{
    color: #cccccc;
    font-size: 15px;
    }
    .contact-left button{
    display: flex;
    align-items: center;
    padding: 18px 20px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#c48136,#584d42);
    cursor: pointer;
    width: 130px;
    height: 50px;
    }
    .contact-left button img{
    height: 25px;
    width: 25px;
    }
    .contact-right img{
    height: 550px;
    width: 450px;
    border-radius: 50px;
    }
}

/* ============================================================================================================================================================================= */
/* ============================================================================================================================================================================= */
/* ============================================================================================================================================================================= */
/* ============================================================================================================================================================================= */
/* ============================================================================================================================================================================= */

/* Small Phone Responsive */
@media (max-width: 430px){
    /* ==== Header Part Here ==== */
    header{
        height: 70px;
    }
    .navbar{
        position: absolute;
        top: 15px;
        gap: 20px;
        width: 380px;
        height: 60px;
    }
    .logo{
        position: absolute;
        top: 0px;
        left: 10px;
    }
    .logo a{
        position: absolute;
        top: 15px;
        left: 0px;
        padding: 3px 7px;
        text-decoration: none;
        color: #c48136;
        font-size: 12px;
        font-weight: 200;
        border: 1px solid #c48136;
        border-radius: 50px;
        height: 20px;
        width: 50px;
    }
    .logo a:hover{
        color: white;
        background-color: #c48136;
    }
    .nav-links{
        position: absolute;
        top: 5px;
        right: 20px;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 25px;
    }
    .nav-links a{
        color: #c48136;
        text-decoration: none;
        font-size: 10px;
        transition: 0.5s;
    }
    .nav-links a:hover{
        color: rgb(255, 255, 255);
        transition: 0.5s;
        font-size: 12px;
    }
    .Lets-Talk{
        display: none;
    }


    
    /* ==== Hero Section Here ==== */
    .Hero{
        height: 230px;
    }
    .Hero .container{
        position: absolute;
        padding: 25px 100px;
        display: flex;
        align-items: center;      /* توسيط عامودي */
        justify-content: center;
        font-size: 14px;
        border-top: #c48136;
        line-height: 5px;
    }
    .Hero h2{
        line-height: 50px;
    }
    .Hero .hero1p{
        color: white;
        font-weight: 200;
    }
    .Hero .hero2p{
        color: #c48136;
        font-weight: 200;
    }
    .Hero .container a{
        display: inline-block;
        text-align: center;
        padding-top: 12px;
        width: 80px;
        height: 30px;
        border: 1px solid #c48136;
        background: transparent;
        text-decoration: none;
        color: #c48136;
        font-size: 12px;
        transition: 0.3s;
    }
    .Hero .container a:hover {
        color: white;
        background-color: #c48136;
        transition: 0.3s;
    }
    
    /* ==== Details Section Here ==== */

    .Details {
        height: 250px;       
        display: flex;
        align-items: center;      
        justify-content: center;
        background: linear-gradient(90deg, #1f140b, #2e261f);  
    }
    .details-div {
        position: absolute;
        left: 0px;
        top: 300px;
        padding: 30px;
        height: 70px;
        width: 300px;
        font-size: 14px;
    }
    .Details h1{
        width: 400px;
        font-size: 14px;
        font-weight: 200;
    }
    .details-p{
        color: grey;
        width: 400px;
        height: 100px;
        word-wrap: break-word;
        font-size: 12px;
    }
    .Details .cv-button{
        position: absolute;
        left: 90px;
        display: inline-block;
        text-align: center;
        padding: 0px;
        width: 90px;
        height: 30px;
        border: 1px solid #c48136;
        background: transparent;
        text-decoration: none;
        color:#c48136;
        font-size: 12px;
        transition: .3s;
    }
    .cv-button:hover{
        color: white;
        background-color: #c48136;
        transition: .3s;
    }

    /* ==== services section Here ==== */

    .Services{
        color: rgb(255, 255, 255);
        background: linear-gradient(90deg, #251a11, #3d342c);
        height: 500px;
    }
    .Services .title{
        position: absolute;
        padding: 30px 25px;
        font-size: 18px;
        font-weight: bold;
    }
    .services-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 10%;
        padding: 18% 20%;
        height: 500px;
    }
    .services-cards .card{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        text-align: center;
        border: 1px solid #c48136;
        height: 180px;
        width: 180px;
        line-height: 20px;
    }
    .services-cards .home-service-icon{
        padding: 0px 15px;
        font-size: 25px;
    }
    .services-cards p{
        padding: 40px;
        width: 180px;
    }
    .services-cards .p1{
        font-size: 13px;
        color: #c48136;
    }
    .services-cards .p2{
        display: none;
    }

    /* ==== Gallery section here ==== */

    .gallery{
        color: #c48136;
        height: 670px;
        background: linear-gradient(90deg, #2c1d11, #584d42);
    }
    .gallery h1{
        position: absolute;
        padding: 40px 30px;   
        color: white;
        font-size: 20px;
    }
    .home-gallery-pic{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
        align-items: center;
        height: 600px;
        padding: 100px;
    }
    .home-gallery-pic img{
        height: 200px;
        width: 170px;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.452);
        transition: 0.5s;
    }
    .home-gallery-pic img:hover{
        height: 210px;
        width: 180px;
        transition: 0.5s;
        opacity: 30%;
    }
    .home-gallery-pic a{
        color: #c48136;
        text-decoration: none;
        font-size: 14px;
        transition: color 1s;
        font-weight: bold;
    }
    .home-gallery-pic a:hover{
        text-decoration: underline;
        transition: 1s;
    }
    .gallery .more-works{
        position: absolute;
        left: 120px;
        padding: 10px;
        display: inline-block;
        text-align: center;
        height: 35px;
        width: 200px;
        border: 1px solid #c48136;
        background: transparent;
        text-decoration: none;
        color:#c48136;
        font-size: 14px;
        transition: .3s;
    }
    .more-works:hover{
        background-color: #c48136;
        color: white;
    }

    /* FOOTER SECTION HERE ...! */

    footer{
        height: 240px;
        color: white;
        background: linear-gradient(90deg, #1f140b, #2e261f);
    }
    footer h1{
        text-align: left;
        padding: 70px 30px;
        font-size: 16px;
    }
    footer a{
        color: #c48136;
        text-decoration: none;
    }
    footer a:hover{
        color: #c4823688;
    }
    footer .lastone{
        text-align: center;
        padding-top: 40px;
        font-size: 11px;
        color: rgba(255, 255, 255, 0.616);
    }

    /* ==== Gallery page Here ==== */

    .Last-Works{
        color: #c48136;
        height: 850px;
        background: linear-gradient(90deg, #2c1d11, #584d42);
    }
    .Last-Works h1{
        position: absolute;
        padding: 40px 30px;
        font-weight: 600;   
        color: white;
        font-size: 20px;
    }
    .last-works-pic{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        justify-content: center;
        align-items: center;
        height: 805px;
        padding: 100px 150px;
    }
    .last-works-pic img{
        height: 170px;
        width: 180px;
        border-radius: 2%;
        border: 1px solid rgba(255, 255, 255, 0.452);
        transition: 0.5s;
    }
    .last-works-pic img:hover{
        height: 180px;
        width: 190px;
        opacity: 30%;
    }
    .last-works-pic a{
        color: #c48136;
        text-decoration: none;
        font-size: 20px;
        transition: color 1s;
        font-weight: bold;
    }
    .last-works-pic a:hover{
        text-decoration: underline;
        transition: 1s;
    }


    /* ==== Services Page Here ==== */

    .Services-page{
        height: 850px;
        background: linear-gradient(90deg, #1f140b, #362f27);
    }
    .Services-page h2{
        color: white;
        position: absolute;
        padding: 35px 40px;
        font-size: 20px;
    }
    .services-grid{
        height: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 90px 130px;
    }
    .services-grid .service{
        width: 250px;
        height: 230px;
        padding: 5px;
        border: 1px solid #c48136;
        color: white;
        text-align: center;
        font-size: 10px;
    }
    .services-grid .service-icon{
        padding: 0px;
        font-size: 50px;
    }
    .services-grid .service p{
        color: rgba(255, 255, 255, 0.774);
    }
    .services-grid .service .content1{
        width: 300px;
        position: absolute;
        padding: 10px;
        left: 60px;
        line-height: 40px;

    }
    .services-grid .service .content2{
        width: 300px;
        position: absolute;
        padding: 10px;
        left: 62px;
        line-height: 30px;
    }
    .services-grid .service .content3{
        width: 250px;
        position: absolute;
        padding: 10px;
        left: 88px;
        line-height: 30px;
    }
    .services-grid .service a{
        text-decoration: none;
        color: #c48136;
        display: inline-block;
        border: 1px solid #c48136;
        transition: 0.5s;
        width: 150px;
        height: 40px;
        font-weight: bold;
        font-size: 12px;
    }
    .services-grid .service a:hover{
        color: white;
        background-color: #c48136;
        transition: 0.5s;
    }
    
    /* ==== About Page Here ==== */

    .aboutme{
        background: linear-gradient(90deg, #1f140b, #362f27);
        height: 400px;
    }
    .aboutme p{
        height: 300px;
        width: 400px;
        padding: 50px 50px;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    /* ==== Contact Page Here ==== */

    .contact-container{
        height: 50vh;
    }
    .contact-left-title h2{
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
    margin-bottom: 5px;
    color: #c48136;
    }
    .contact-left-title hr{
    border: none;
    width: 110px;
    height: 5px;
    background: linear-gradient(130deg,#3d352d,#c48136);
    border-radius: 10px;
    margin-bottom: 20px;
    }
    .contact-inputs{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    font-weight: 500;
    padding-left: 15px;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    background: linear-gradient(270deg,#c48136,#3b342c);
    }
    .contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    }
    .contact-inputs:focus{
    border: 2px solid #c48136;
    }
    .contact-inputs::placeholder{
    color: #cccccc;
    font-size: 15px;
    }
    .contact-left button{
    display: flex;
    align-items: center;
    padding: 18px 12px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#c48136,#584d42);
    cursor: pointer;
    width: 110px;
    height: 40px;
    }
    .contact-left button img{
    height: 20px;
    width: 20px;
    }
    .contact-right img{
    height: 270px;
    width: 180px;
    border-radius: 30px;
    }
    
}






