*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}
body{
    background: linear-gradient(90deg, #1f140b, #332b24);
    height: 100vh;
    overflow-x: hidden;
    font-family:'Montserrat', sans-serif;
    animation: fadeIn 1.2s ease forwards;
}

/* Here Navigation and header css */

header{
    padding: 30px;
    height: 100px;
    z-index: 9;
    background: linear-gradient(90deg, #1f140b, #332b24);
}
.navbar{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 400px;
    position: sticky;
    top: 0;
}
.logo a{
    text-decoration: none;
    color: #c48136;
    font-size: 35px;
    font-weight: 200;
}
.nav-links{
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
}
.nav-links a{
    color: #c48136;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}
.nav-links a:hover{
    color: rgb(255, 255, 255);
    font-size: 21px;
    transition: 0.5s;
}
.Lets-Talk{
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
    text-decoration: none;
    color:#c48136;
    font-size: 18px;
    transition: .3s;
    border-radius: 50px;
}
.Lets-Talk:hover{
    color: #ffffff;
    background-color: #c48136;
    transition: .3s;
}

/* Here hero section customization */

.Hero{
    height: 800px;
    background: linear-gradient(90deg, #1f140b, #362f27);
}
.Hero .container{
    position: absolute;
    padding: 280px 395px;
    display: flex;
    align-items: center;      /* توسيط عامودي */
    justify-content: left;
    font-size: 35px;
    border-top: #c48136;
    animation: fadeIn 3s ease forwards;
}
.Hero h2{
    line-height: 70px;
}
.Hero .hero1p{
    color: white;
    font-weight: 200;
}
.Hero .hero2p{
    color: #c48136;
    font-weight: 200;
}
.view-works{
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
    text-decoration: none;
    color:#c48136;
    font-size: 18px;
    transition: .3s;
    border-radius: 50px;
}
.view-works:hover{
    color: white;
    background-color: #c48136;
    transition: .3s;
}

/*  Details section here  */

.Details {
  height: 800px;        
  display: flex;
  align-items: center;      
  justify-content: left;
  background: linear-gradient(90deg, #1f140b, #2e261f);  
}
.details-div {
  padding: 140px 395px;     
  font-size: 16px;
  color: white;
}
.Details h1{
    width: 800px;
}
.Details p{
    color: grey;
    line-height: 50px;
}
.Details .cv-button{
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    width: 170px;
    height: 50px;
    border: 1px solid #c48136;
    background: transparent;
    text-decoration: none;
    color:#c48136;
    font-size: 18px;
    transition: .3s;
    border-radius: 50px;
}
.cv-button:hover{
    color: white;
    background-color: #c48136;
    transition: .3s;
}

/* ==== Services Section Here ==== */
.Services{
    color: rgb(255, 255, 255);
    height: 620px;
    background: linear-gradient(90deg, #251a11, #3d342c);
}
.services-cards{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding-top: 8%;
    line-height: 1%;
}
.services-cards .card{
    padding-top: 4%;
    text-align: center;
    border: 1px solid #c48136;
    height: 370px;
    width: 450px;
    background: linear-gradient(300deg,#181009,#3d352d);
    border-radius: 30px;
}
.Services .title{
    position: absolute;
    padding: 60px 255px;
    font-size: 35px;
}
.home-service-icon{
    padding: 10px 100px;
    font-size: 50px;
}
.services-cards p{
    position: absolute;
    padding: 90px 30px;
    width: 440px;
}
.services-cards .p1{
    font-size: 20px;
    color: #c48136;
}
.services-cards .p2{
    position: absolute;
    padding: 180px 10px;
    color: rgba(255, 255, 255, 0.548);
}
/*   works section here !! */

.gallery{
    height: 800px;
    background: linear-gradient(90deg, #2c1d11, #584d42);
}
.gallery h1{
    position: absolute;
    padding: 60px 255px;
    color: white;
    font-size: 40px;   
}
.home-gallery-pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 650px;
    padding: 150px 450px;
}
.home-gallery-pic img{
    height: 400px;
    width: 450px;
    border-radius: 2%;
    border: none;
    outline: none;
    transition: 0.5s;
}
.home-gallery-pic img:hover{
    height: 450px;
    width: 500px;
    transition: 0.5s;
    opacity: 30%;
}
.home-gallery-pic a{
    color: #c48136;
    text-decoration: none;
    font-size: 24px;
    transition: color 1s;
    font-weight: bold;
}
.home-gallery-pic a:hover{
    text-decoration: underline;
    transition: 1s;
}
.gallery .more-works{
    position: absolute;
    left: 19.8%;
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 1150px;
    height: 55px;
    border: 2px solid #c48136;
    background: transparent;
    text-decoration: none;
    color:#c48136;
    font-size: 18px;
    transition: .3s;
    font-weight: bold;
    border-radius: 50px;
}
.more-works:hover{
    background-color: #c48136;
    color: white;
}


/* FOOTER SECTION HERE ...! */
footer{
    height: 520px;
    color: white;
    background: linear-gradient(90deg, #1f140b, #2e261f);
}
footer h1{
    text-align: left;
    padding: 100px 360px;
    font-size: 40px;
}
footer a{
    color: #c48136;
    text-decoration: none;
}
footer a:hover{
    color: #c4823688;
}
footer .lastone{
    text-align: center;
    padding-top: 240px;
    color: rgba(255, 255, 255, 0.616);
}


/* *************************************************************************************************************************************************** */
/* Gallery Page Section !!!!! */
.Last-Works{
    height: 1250px;
}
.Last-Works h1{
    color: white;
    position: absolute;
    padding: 80px 200px;
}
.last-works-pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 1100px;
    padding: 180px 450px;
}
.last-works-pic img{
    height: 400px;
    width: 450px;
    border-radius: 2%;
    border: 1px solid rgba(255, 255, 255, 0.452);
    transition: 0.5s;
}
.last-works-pic img:hover{
    height: 450px;
    width: 500px;
    transition: 0.5s;
    opacity: 30%;
}
.last-works-pic a{
    color: #c48136;
    text-decoration: none;
    font-size: 24px;
    transition: color 1s;
    font-weight: bold;
}
.last-works-pic a:hover{
    text-decoration: underline;
    transition: 1s;
}


/* ********************************************************************************************************************************************************************** */
/* SERVICES page SECTION HERE...! */
.Services{
    height: 700px;
}
.Services h2{
    color: white;
    position: absolute;
    padding: 60px 100px;
    font-size: 35px;
}
.services-grid{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30PX;
}
.services-grid .service{
    width: 550px;
    height: 400px;
    padding: 20px;
    border: 1px solid #c48136;
    color: white;
    text-align: center;
    font-size: 14px;
    background: linear-gradient(300deg,#1a1008,#4b4137);
    border-radius: 30px;
}
.services-grid .service p{
    color: rgba(255, 255, 255, 0.774);
}
.services-grid .service .content1{
    width: 500px;
    position: absolute;
    padding: 70px;
    left: 125px;
    line-height: 50px;

}
.services-grid .service .content2{
    width: 650px;
    position: absolute;
    padding: 70px;
    left: 625px;
    line-height: 50px;
}
.services-grid .service .content3{
    width: 650px;
    position: absolute;
    padding: 70px;
    right: 50px;
    line-height: 50px;
}
.services-grid .service a{
    text-decoration: none;
    color: #c48136;
    display: inline-block;
    border: 1px solid #c48136;
    transition: 0.5s;
    width: 180px;
    height: 50px;
    font-weight: bold;
    border-radius: 50px;
}
.services-grid .service a:hover{
    color: white;
    background-color: #c48136;
    transition: 0.5s;
}
.services-grid .service-icon{
    font-size: 60px;
}

/* About me section !.. */

.aboutme{
    height: 500px;
}
.aboutme p{
    height: 700px;
    padding: 50px  400px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


/* ==== Contact Page here ==== */

.contact-container{
    height: 80vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'outfit';
    background: linear-gradient(150deg, #291c10, #463d35);
}
.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    color: #c48136;
}
.contact-left-title hr{
    border: none;
    width: 230px;
    height: 5px;
    background: linear-gradient(130deg,#3d352d,#c48136);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 500;
    padding-left: 15px;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    background: linear-gradient(270deg,#c48136,#3b342c);
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #c48136;
}
.contact-inputs::placeholder{
    color: #cccccc;
    font-size: 15px;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#c48136,#584d42);
    cursor: pointer;
    width: 150px;
}
.contact-left button img{
    height: 33px;
    width: 33px;
}
.contact-right img{
    height: 550px;
    width: 450px;
    border-radius: 50px;
}